extends layout

block content
  .body
    .site-wrapper-inner.home-wrap
      .container
        .row
          .col-sm-12
          <script src="https://gist.github.com/chadwallacehart/c596bdb89a6a25e1414849b4d1131e99.js"></script>
