extends layout
block content
  .site-wrapper-inner.home-wrap
    .container
      .row.banner-content
        .col-sm-12.col-md-8

          h1 NO WEB DEVELOPMENT NEEDED
          h2 HD calling to any SIP address straight from any website
          p.
            Click2Vox helps you build a click-to-call button that connects any webpage to any of your SIP addresses in seconds.
            No app or plug-in installs for your customers. No complex gateway installs or phone system configuration for you.
            Need to pass information from the webpage to your PBX or navigate an IVR? Click2Vox has you covered.


  .home-setup(id="setup")
    .container
      .row
        .col-xs-12
          h3 Setup Click-to-Call
            span  in 3 Easy Steps

      .row
        .col-sm-12.col-md-4
          .setup-grid.setup-inside-block
            img(alt="Icon2" src="../../images/icon2.png")
            h5 Create
            p Create and customize your call button

        .col-sm-12.col-md-4
          .setup-grid.setup-inside-block
            img(alt="Icon3" src="../../images/iconM.png")
            h5 Add
            p Add a SIP address &amp; place a test call

        .col-sm-12.col-md-4
          .setup-grid.setup-inside-block
            img(alt="Icon1" src="../../images/icon1.png")
            h5 Embed
            p Paste the code in your webpage

  .contact(id="contact")
    .container
      .padding-contact

        .row

          .col-md-4
            h3 Address
            address
              |535 Mission St
              br
              |San Francisco
              br
              |CA 94105
              br
              |USA #[span Tel: +1 415 520 505]
              span
                a(href=
              "https://www.voxbone.com/" target="_blank")
                  img(alt="" src="../../images/voxbone-logo.png")

          .col-md-4
            h3 Links
            ul.links
              li
                a(href="https://www.voxbone.com/" target="blank") Voxbone Website
              li
                a(href="http://blog.voxbone.com/" target="blank") Voxbone Blog
              li
                a(href="https://developers.voxbone.com/" target="blank") Voxbone Developers Platform
              li
                a(href="https://www.linkedin.com/company/voxbone" target="blank") Follow us on LinkedIn
              li
                a(href="https://plus.google.com/+VoxboneSA/posts" target="blank") Follow us on Google+
              li
                a(href="https://twitter.com/voxbone" target="blank") Follow us on Twitter
              li
                a(href="https://www.facebook.com/VoxboneSA" target="blank") Follow us on Facebook

          .col-md-4.newsletter
            h3 Stay in touch
            form
              .form-group
                label(for="exampleInputName2") Name
                input.form-control(id="exampleInputName2" placeholder="Name" type="text")
              .form-group
                label(for="exampleInputEmail4") Email
                input.form-control(id="exampleInputEmail4" placeholder="email@example.com" type="email")
              button.btn.btn-default(type="submit") Sign up for Newsletter

      .footer
        p #[a(target="blank" href=" https://www.voxbone.com/acceptable-use-policy") Acceptable Use Policy] | #[a(target="blank" href="https://www.voxbone.com/privacypolicy.jsf") Privacy Policy] | #[a(href="/known-issues") Known Issues] | #[a(href="/faq") FAQ] | #[a(target="blank" href="mailto:workshop@voxbone.com?subject=Voxbone Widget Generator Feedback") Send Feedback] | #[a(target="blank" href="https://workshop.voxbone.com") A Workshop Project] | #[a(target="blank" href="https://www.voxbone.com/" style="border-right: 0px;") Copyright ©2016, VOXBONE SA]


