extends layout

block content
  .main.buttonList
    .header
      .container
        .row
          .col-xs-12
            h1 Known Issues

    .body
      .container
        .row
          .col-sm-12
            <script src="https://gist.github.com/san983/812b8681831ce0e35b17c1e5766d109b.js"></script>