<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Voxbone | Click-to-Call any SIP address</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="/stylesheets/root.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script>(function(h,o,t,j,a,r){
    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
    h._hjSettings={hjid:126921,hjsv:5};
    a=o.getElementsByTagName('head')[0];
    r=o.createElement('script');r.async=1;
    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
    a.appendChild(r);})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');</script>
    
  </head>
  <body>

    <div class="landing-hero">
      <div class="container">
        <nav class="navbar">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" style="background-image: url(https://click2vox-com-staging.herokuapp.com/images/navbar-brand.png)"></a>
            <span class="subBrand"> Click2Vox<sup>&beta;</sup></span>
          </div>
          <div class="pull-right">
            <a class="login user-pill pull-left" href="/login">Login</a>
            <a class="login user-pill pull-left" href="/account/signup">Create account</a>
          </div>
        </nav>
      </div>

      <div class="call-to-action">
        <span>HD calling to any SIP address straight from any website</span>
        <br>
        <span class="block">No web development needed</span>
        <br>
        <a class="btn btn-default btn-purple" href="/account/signup">Create Account</a>
      </div>
    </div>

    <div class="landing-main">

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-xs-offset-1">
            <p>Click2Vox helps you build a click-to-call button that connects any webpage to any of your SIP addresses in seconds.</p>
            <p>No app or plug-in installs for your customers. No complex gateway installs or phone system configuration for you.</p>
            <p>Need to pass information from the webpage to your PBX or navigate an IVR?  Click2Vox has you covered.</p>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="screen-shot-holder">
                  <img src="../images/screenshot-create-button.png">
                  <span>Create and customize your call button</span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="screen-shot-holder">
                  <img src="../images/screenshot-add-number.png">
                  <span>Add a SIP address & place a test call</span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="screen-shot-holder">
                  <img src="../images/screenshot-embed-code.png">
                  <span>Paste the code in your webpage</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
    <div class="landing-main white">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-xs-offset-1">
            <div class="screen-shot-holder-large">
              <img src="../images/flow-diagram.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    -->

    <div class="landing-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-xs-offset-1">
            <span class="title">Want to try it now?</span><br>
            <div>
              <a href="/widget/demo" class="btn btn-info">Create a sample call button</a>
            </div>
            <hr>
            <div id="voxButton_575b3d7e89005411004db935" data-button_id="575b3d7e89005411004db935" data-text="click2vox Us Now" data-redirect_url="https://voxbone.com" data-did="883510080408" data-dial_pad="true" data-context="" data-send_digits="" data-caller_id="Click2Vox" data-incompatible_browser_configuration="link_button_to_a_page" data-show_frame="false" data-use_default_button_css="false"
            data-div_css_class_name=""
            data-button_css_class_name="btn btn-purple"
            class="voxButton">
            </div>
            <script src="/click2vox.js"></script>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

