doctype html
html(lang='en', ng-app="voxboneApp")
  head
    title= title

    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheets/root.css", rel="stylesheet")
    link(href="//cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.css", rel="stylesheet")

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js",type="application/javascript")
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' )

    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js",type="application/javascript")
    script(src="//cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.js",type="application/javascript")
    script(src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js",type="application/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.3/clipboard.min.js",type="application/javascript")

    script(src="//webrtc.voxbone.com/js/jssip-0.7.9-vox.js",type="application/javascript")
    script(src="//webrtc.voxbone.com/js/voxbone-0.0.3.js",type="application/javascript")

    script(src="/javascripts/webrtc_voxbone_tools.js",type="application/javascript")

  body
    .container
      nav.navbar
        .navbar-header
          a.navbar-brand(href='#')
          span.subBrand Voxbone WebRTC Beta
        .pull-right
          if account
            a.login.withripple(href="/logout") Logout
          else
            a.login.withripple(href="/login") Login

    block content
