extends layout

block default_nav
  .collapse.navbar-toggleable-sm.pull-right(id="bd-main-nav")
    ul.nav.navbar-nav
      li.nav-item
        a.nav-item.nav-link(href="/") Home
      li.nav-item
        if process.env.DISABLE_SIGN_UPS !== 'true'
          a.nav-item.nav-link(href='/account/signup') Create Account

block extra_head
  script.
    require(
      ['angular', 'jquery', 'controllers/login'],
      function (angular, $, LoginController) {
        angular.module('voxboneApp', [])
          .controller('LoginController', LoginController);
        angular.bootstrap(document, ['voxboneApp']);
      });

block content
  .site-wrapper-inner.home-wrap
    .container
      .row
        .col-sm-12.col-md-7.col-lg-6
          while m = message.shift()
            #tokenError.alert(class='alert-' + m.type)
              div= m.message

          #alert-user-pass.alert.alert-danger.hidden Incorrect Email or Password, try again.
          #alert-unverified.alert.alert-danger.hidden Unverified account. Please check your inbox to validate your email address.

          .panel-content
            .panel-header
              h4 Login
              strong
                | Note for current Voxbone customers:&nbsp;
              span you can login with your Voxbone portal account. The WebRTC widgets and services created on click2vox.com are indepedant of your Voxbone account, DIDs, and trunk configuration. To add WebRTC to an existing DID, please view our instructions: #[a(href="https://developers.voxbone.com/how-to/setup-webrtc/") view instructions]

            .oauth-wrap
              include social-buttons

            .register-content

              form#login_form(ng-controller="LoginController" name="login_form" novalidate ng-init=`login.uemail='${email || ''}'`)
                .form-group
                    label.control-label Email
                    input.form-control(type="email" id="uemail" name="uemail" placeholder="email@example.com" ng-model="login.uemail" required)
                    .ng-cloak(ng-show="login_form.$submitted || login_form.uemail.$touched")
                      .error-label(ng-show="login_form.uemail.$error.required") Email is required
                    .ng-cloak(ng-show="login_form.uemail.$dirty && login_form.uemail.$invalid")
                      .error-label(ng-show="login_form.uemail.$error.email") Email is invalid
                .form-group
                  label.control-label Password
                  input.form-control(type="password", id="upassword", name="upassword", placeholder="Your password" ng-model="login.upassword", required)
                  .ng-cloak(ng-show="login_form.$submitted || login_form.upassword.$touched")
                    .error-label(ng-show="login_form.upassword.$error.required") Password is required
                .form-group
                  button.btn.btn-block.btn-default-custom#login(ng-disabled="login_form.$invalid" ng-click="login.processForm()") Login
                  span
                a(href="/forgot") Forgot your password?
                br
                a(href="/signup") Sign up here

