extends layout

block default_nav
  a.login.user-pill.pull-left(href="/") Home
  a.login.user-pill.pull-left(href="/account/signup") Create account

block extra_head
  script.
    require(
      ['angular', 'jquery', 'controllers/login'],
      function (angular, $, LoginController) {
        angular.module('voxboneApp', [])
          .controller('LoginController', LoginController);
        angular.bootstrap(document, ['voxboneApp']);
      });

block content
  .main.registerPage
    .body
      .container
        .row
          .col-sm-12

            h1 Login

            while m = message.shift()
              #tokenError.alert(class='alert-' + m.type)
                div= m.message

            #alert-user-pass.alert.alert-danger.hidden Incorrect Email or Password, try again.
            #alert-unverified.alert.alert-danger.hidden Unverified account. Please check your inbox to validate your email address.

            #form_container
              p.
                #[b Note for current Voxbone customers:] your Click2Vox login will not be linked to your existing Voxbone account. We encourage you to create a separate account here for testing purposes. To use your Voxbone account and an existing DID, please visit #[a(href="https://developers.voxbone.com/how-to/setup-webrtc/") view instructions]

              .formWrap
                h4.text-center Login with Google, Github, Windows Live or LinkedIn
                include social-buttons

                h4.text-center or enter your details below
                form#login_form(ng-controller="LoginController" ng-init="login.uemail='#{email || ''}'" name="login_form" novalidate)
                  .form-group
                    label.control-label Email
                    input.form-control(type="email" id="uemail" name="uemail" ng-model="login.uemail" required)
                    .ng-cloak(ng-show="login_form.$submitted || login_form.uemail.$touched")
                      .error-label(ng-show="login_form.uemail.$error.required") Email is required
                    .ng-cloak(ng-show="login_form.uemail.$dirty && login_form.uemail.$invalid")
                      .error-label(ng-show="login_form.uemail.$error.email") Email is invalid
                  .form-group
                    label.control-label Password
                    input.form-control(type="password", id="upassword", name="upassword", ng-model="login.upassword", required)
                    .ng-cloak(ng-show="login_form.$submitted || login_form.upassword.$touched")
                      .error-label(ng-show="login_form.upassword.$error.required") Password is required

                  button.btn.btn-default#login(ng-disabled="login_form.$invalid" ng-click="login.processForm()") Login
                  br
                  a(href="/forgot") Forgot your password?
                  br
                  a(href="/signup") Sign up here
                  br
