extends layout

block content
  script.
    var formApp =
      angular.module('voxboneApp', [])
      .controller('formController', ['$scope', '$http', '$window', function($scope, $http, $window){
        $scope.master = {
          uemail: '#{email}',
          temporary_password: '#{temp_password}'
        };

        $scope.update = function(account){
          $scope.master = angular.copy(account);
        };

        $scope.reset = function(form){
          if(form){
            form.$setPristine();
            form.$setUntouched();
          }
          $scope.account = angular.copy($scope.master);
        };

        $scope.reset();

        $scope.account.processForm = function(){
          console.log("--> Submitting...");
          var req = {
            method: 'POST',
            url: '/signup',
            headers: {
              'Content-Type': 'application/json; charset=utf-8'
            },
            data: {
              email: $scope.account.uemail,
              temporary_password: $scope.account.temporary_password,
              password: $scope.account.upassword,
              confirmation: $scope.account.confirmation
            }
          };
          $http(req)
            .then(function successCallback(response){
              $window.location.href = response.data.redirect + '?email=' + response.data.email;
            }, function errorCallback(response){
              document.getElementById("alert").innerHTML = response.data.message;
              document.getElementById("alert").style.display = "block";
            });
        }
      }]);

    formApp.directive('pwCheck', [function () {
      return {
        require: 'ngModel',
        link: function (scope, elem, attrs, ctrl) {
          var firstPassword = '#' + attrs.pwCheck;
          elem.add(firstPassword).on('keyup', function () {
            scope.$apply(function () {
              var v = elem.val()===$(firstPassword).val();
              ctrl.$setValidity('pwmatch', v);
            });
          });
        }
      }
    }]);

  .main.registerPage
    .body
      .container
        .row
          .col-sm-12
            h1 Create Account

            #alert.alert.alert-danger(style="display: none;")

            #form_container
              p.
                #[b Note:] the Voxbone WebRTC Free Trial will not be linked to your existing Voxbone account. To use your Voxbone account and an existing DID, please see #[a(href="#") view instructions]

              .formWrap
                form#create_account(name="create_account" novalidate ng-controller="formController")
                  .form-group
                    input(type="hidden" name="temporary_password" ng-model="account.temporary_password")
                    label.control-label Email address
                    input.form-control(type="text" id="uemail" name="uemail" ng-model="account.uemail" disabled)
                  .form-group
                    label.control-label Password
                    input.form-control(type="password" id="upassword" name="upassword" ng-model="account.upassword" required ng-minlength="8")
                    div(ng-show="create_account.$submitted || create_account.upassword.$touched")
                      div(ng-show="create_account.upassword.$error.required") Password is required
                      div(ng-show="create_account.upassword.$error.minlength") Password must be at least 8 characters in length
                  .form-group
                    label.control-label Confirm Password
                    input.form-control(type="password" id="confirmation" name="confirmation" ng-model="account.confirmation" required pw-check="upassword")
                    div(ng-show="create_account.$submitted || create_account.confirmation.$touched")
                      div(ng-show="create_account.confirmation.$error.pwmatch") Password confirmation does not match
                  button.btn.btn-default#create(ng-disabled="create_account.$invalid" ng-click="account.processForm()") Create Account
                  br
                  p Already have an account? #[a(href="login") Login here]


