extends layout

block extra_head
  script(src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer)

block content
  script.
    require([
        'angular-recaptcha',
        'controllers/signup',
        'directives/password.check',
        'directives/password.strength'
      ],
      function (
        vcRecaptcha, SignUpController,
        passwordCheck, passwordStrength) {

        angular.module('voxboneApp', ['vcRecaptcha'])
          .directive('pwCheck', passwordCheck)
          .directive('passwordStrength', passwordStrength)
          .controller('SignUpController', SignUpController);

        angular.bootstrap(document, ['voxboneApp']);
      }
    );

  .main.registerPage
    .body
      .site-wrapper-inner.home-wrap
        .container
          .row
            .col-sm-6
              .panel-content
                .panel-header
                  h4 Create Account

                  #alert-error.alert.alert-danger.hidden
                  #alert-info.alert.alert-info.hidden

                  #form_container

                    strong
                      | Note for current Voxbone customers:&nbsp;
                    span your Click2Vox login will not be linked to your existing Voxbone account. We encourage you to create a separate account here for testing purposes. To use your Voxbone account and an existing DID, please visit #[a(href="https://developers.voxbone.com/how-to/setup-webrtc/") view instructions]
                .oauth-wrap
                  h4.text-center Login with Google, Github, Windows Live or LinkedIn
                  include social-buttons

                h4.text-center or enter your details below to create a new account
                form#create_account(ng-controller="SignUpController" name="create_account" ng-init="account.uemail='#{email || ''}'" novalidate)
                  input.form-control(type="hidden" id="ureference" name="ureference" ng-model="account.ureference" ng-init="account.ureference='#{reference || ''}'")
                  .form-group
                    label.control-label First Name
                    input.form-control(type="text" id="ufirstname" name="ufirstname" ng-model="account.ufirstname" required)
                    .error-label(ng-show="create_account.$submitted || create_account.ufirstname.$touched")
                      .ng-hide(ng-show="create_account.ufirstname.$error.required") Please enter your first name
                  .form-group
                    label.control-label Last Name
                    input.form-control(type="text" id="ulastname" name="ulastname" ng-model="account.ulastname" required)
                    .error-label(ng-show="create_account.$submitted || create_account.ulastname.$touched")
                      .ng-hide(ng-show="create_account.ulastname.$error.required") Please enter your last name
                  .form-group
                    label.control-label Company
                    input.form-control(type="text" id="ucompany" name="ucompany" ng-model="account.ucompany")
                  .form-group
                    label.control-label Phone Number (optional)
                    input.form-control(type="text" id="uphone" name="uphone" ng-model="account.uphone")
                  .form-group
                    label.control-label Email address
                    input.form-control(type="text" id="uemail" name="uemail" ng-model="account.uemail" required)
                    .error-label(ng-show="create_account.$submitted || create_account.uemail.$touched")
                      .ng-hide(ng-show="create_account.uemail.$error.required") Email is required
                  .form-group
                    label.control-label Password
                    input.form-control(type="password" id="upassword" name="upassword" ng-model="account.upassword" required password-strength="account.upassword")
                    .progress.passwordStrength.ng-hide(ng-show="create_account.upassword.$dirty")
                      .progress-bar(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{strength_percent}}%;" class="{{strength_class}}")
                        span Strength: {{strength}}!
                    .error-label(ng-show="create_account.$submitted || create_account.upassword.$touched")
                      .ng-hide(ng-show="create_account.upassword.$error.required") Password is required
                      .ng-hide(ng-show="create_account.upassword.$error.minlength") Password must be at least 8 characters in length
                  .form-group
                    label.control-label Confirm Password
                    input.form-control(type="password" id="confirmation" name="confirmation" ng-model="account.confirmation" required pw-check="upassword")
                    .error-label(ng-show="create_account.$submitted || create_account.confirmation.$touched")
                      .ng-hide(ng-show="create_account.confirmation.$error.pwmatch") Password confirmation does not match

                  .form-group.text-center
                    .captcha(ng-model="account.recaptcha" vc-recaptcha key=`"${process.env.GOOGLE_RECAPTCHA_SITE_KEY}"` on-create="setWidgetId(widgetId)")

                  .form-group
                    label.control-label
                      span You must accept our #[a(href=`${process.env.APP_URL}/docs/click2vox-aup.pdf`) User Policy]
                      span &nbsp;
                      input(type="checkbox" id="uaup" name="uaup" ng-model="account.uaup" required)

                  button.btn.btn-default#create(ng-disabled="create_account.$invalid" ng-click="processForm()") Create Account
                  br
                  p Already have a Click2Vox account? #[a(href="../login") Login here]
