p.social-buttons
  if process.env.VOXBONE_OAUTH_ENABLED === 'true'
    a(href="/auth/voxbone" class="vxb-button")
      img(src="/images/voxbone-x.png" width="25px" height="25px")
      span
        voxbone
      br
      span.btn-txt Voxbone

  a(href="/auth/google" class="google-button")
    span.fa.fa-google-plus
      google
    br
    span.btn-txt Google

  a(href="/auth/github" class="git-button")
    span.fa.fa-github
      github
    br
    span.btn-txt Github

  a(href="/auth/windowslive" class="live-button")
    span.fa.fa-windows
      windowslive
    br
    span.btn-txt Live

  a(href="/auth/linkedin" class="LI-button")
    span.fa.fa-linkedin
      linkedin
    br
    span.btn-txt LinkedIn
