p.social-buttons
  a.btn.btn-lg.btn-default(href="/auth/google")
    span.fa.fa-google-plus
      Google
  a.btn.btn-lg.btn-default(href="/auth/github")
    span.fa.fa-github
      Github
  a.btn.btn-lg.btn-default(href="/auth/windowslive")
    span.fa.fa-windows
      WindowsLive
  a.btn.btn-lg.btn-default(href="/auth/linkedin")
    span.fa.fa-linkedin
      LinkedIn
