extends layout

block content
  script.

    //Copy to Clipboard
    var clipboard = new Clipboard('#clipboard_copy');
    clipboard.on('success', function(e) {
      console.info('Action:', e.action);
      console.info('Text:', e.text);
      console.info('Trigger:', e.trigger);
      e.clearSelection();
    });

    clipboard.on('error', function(e) {
      console.error('Action:', e.action);
      console.error('Trigger:', e.trigger);
    });

    var app = angular.module('voxboneApp', [])
      .controller('WidgetController', ['$scope', '$http', '$window', function($scope, $http, $window){

        $scope.master = {
          dial_pad: true,
          widget_code: 'Click on Regenerate Code!'
        };

        $scope.reset = function(form){
          if(form){
            form.$setPristine();
            form.$setUntouched();
          }

          $scope.widget = angular.copy($scope.master);
        };

        $scope.init = function () {
          voxbone.WebRTC.authServerURL = "https://webrtc.voxbone.com/rest/authentication/createToken";
          voxbone.WebRTC.init(#{voxrtc_config});
        };

        $scope.reset();
        $scope.init();

        $scope.widget.generateOutputCode = function(){
          console.log("--> Generating Output Code...");
          var req = {
            method: 'POST',
            url: '/voxbone_widget',
            headers: {
              'Content-Type': 'application/json; charset=utf-8'
            },
            data: {
              caller_id: $scope.widget.caller_id,
              sip_uri: $scope.widget.sip_uri,
              button_label: $scope.widget.button_label,
              button_style: $scope.widget.button_style,
              context: $scope.widget.context,
              dial_pad: $scope.widget.dial_pad,
              send_digits: $scope.widget.send_digits,
              hide_widget: $scope.widget.hide_widget,
              link_button_to_a_page: $scope.widget.link_button_to_a_page_value,
              show_text_html: $scope.widget.show_text_html_value
            }
          };
          $http(req)
            .then(function successCallback(response){
              console.log(response.data);
              $scope.widget.widget_code = response.data.widget_code;

            }, function errorCallback(){
              console.log("entered error callback");
            });
        }

    }]);

    function makeCall(){
      var number = '13072787231'; //16092975366
      voxbone.WebRTC.call(number);
      window.onbeforeunload=function(e){
        voxbone.WebRTC.rtcSession.terminate();
      }
    }

    $(document).ready(function () {
      $( ".title-toggle" ).click(function() {
        $( this ).parent().toggleClass( "active" );
      });

      $( ".btn-style-a" ).click(function() {
        $( ".widget-box" ).removeClass( "style-b" ).addClass( "style-a" );
      });
      $( ".btn-style-b" ).click(function() {
        $( ".widget-box" ).removeClass( "style-a" ).addClass( "style-b" );
      });

      $( ".togle-bg a.dark" ).click(function() {
        $( ".prev-view" ).removeClass("light").removeClass("grey").addClass( "dark" );
      });
      $( ".togle-bg a.grey" ).click(function() {
        $( ".prev-view" ).removeClass("light").removeClass("black").addClass( "grey" );
      });
      $( ".togle-bg a.light" ).click(function() {
        $( ".prev-view" ).removeClass("black").removeClass("grey").addClass( "light" );
      });

      $("#launch_call").click(function(e) {
        e.preventDefault();
        makeCall();
      });

      $("#hangup_call").click(function(e) {
        e.preventDefault();
        voxbone.WebRTC.hangup();
      });

      $('.codebox-actions a').click(function(e) {
        e.preventDefault();
      });
    });

  .main.createButton
    .header
      .container
        .row
          .col-xs-12
            h1 Create a WebRTC Call Button
            p #[b Note:] this will create a code widget that can be embedded into any page that allows for JS code and will allow customers to video call without installing any software.
    .body(ng-controller="WidgetController")
      .container
        .row
          .col-sm-6.left-col
            section
              span.title Button Configuration
              form
                .boxPanel
                  .form-group
                    label Button Label:
                    input.form-control(type="text", name="button_label", ng-model="widget.button_label" value="Call Sales" placeholder="i.e. Call Sales")
                  .form-group
                    label Button Style:
                    button.btn-style-a #[span {{ widget.button_label || 'Call Sales' }}]
                    button.btn-style-b #[span {{ widget.button_label || 'Call Sales' }}]

            section
              span.title Call Configuration
              form
                .boxPanel
                  .form-group
                    label.control-label SIP URI #[span.badge ?]
                    input.form-control(required type="text", name="sip_uri", ng-model="widget.sip_uri" data-value="SIP: echotest@voxout.voxbone.com" placeholder="i.e. SIP: echotest@voxout.voxbone.com")
                    div(ng-show="widget.sip_uri.$error.required") SIP URI is required
                  .panel.panel-default
                    .panel-heading
                      a.collapsed.title-toggle(data-toggle="collapse",data-target="#collapseAdvancedCallConfiguration",href="#collapseAdvancedCallConfiguration") Advanced Call Configuration
                    .panel-collapse.collapse#collapseAdvancedCallConfiguration
                      .options-wrap.active
                        .form-group
                          label(for="btn-context") Caller ID #[span.badge ?]
                          input.form-control(type="text" name="caller_id" ng-model="widget.caller_id" value="voxrtc_demo" placeholder="i.e. voxrtc_demo")
                        .form-group
                          label(for="btn-context") Context #[span.badge ?]
                          input.form-control(type="text" name="context" ng-model="widget.context")
                        .form-group
                          label(for="btn-context") DTMF Dial Pad #[span.badge ?]
                          input(type="checkbox" name="dial_pad" ng-model="widget.dial_pad")
                        .form-group
                          label(for="btn-context") Send Digits #[span.badge ?]
                          input.form-control(type="text" name="send_digits" ng-model="widget.send_digits")
                  .panel.panel-default
                    .panel-heading
                      a.collapsed.title-toggle(data-toggle="collapse",data-target="#collapseIncompatileBrowserConfiguration",href="#collapseIncompatileBrowserConfiguration") Incompatible Browser Configuration
                    .panel-collapse.collapse#collapseIncompatileBrowserConfiguration
                      .options-wrap.active
                        .form-group
                          label.control-label Hide the widget #[span.badge ?]
                          input.form-control(type='checkbox' name='hide_widget' ng-model='widget.hide_widget')
                        .form-group
                          label.control-label Link button to a page #[span.badge ?]
                          input.form-control(type='checkbox' name='link_button_to_a_page', ng-model="widget.link_button_to_a_page")
                          input.form-control(type="text" name="link_button_to_a_page_value", placeholder="Enter url"
                          ng-model="widget.link_button_to_a_page_value" ng-show="widget.link_button_to_a_page")
                        .form-group
                          label.control-label Show text/HTML #[span.badge ?]
                          input.form-control(type='checkbox' name='show_text_html', ng-model="widget.show_text_html")
                          input.form-control(type="text" name="show_text_html_value", placeholder="Enter text or HTML" ng-show="widget.show_text_html" ng-model="widget.show_text_html_value")

          .col-sm-6.right-col
            .section
              span.title Preview
              .boxPanel.preview
                .prev-view.light
                  .widget-box.style-b
                    button.btn-style.mdi-communication-call#launch_call #[span {{widget.button_label || 'Call Sales'}}]
                    //- button.btn.btn-raised.btn-material-red.mdi-communication-call-end#hangup_call #[span 'End Call']
                    .widget-footer
                      a(href="#") powered by:
                  .togle-bg
                    a.dark(href="javascript:void(0)")
                    a.grey(href="javascript:void(0)")
                    a.light(href="javascript:void(0)")

                  //- p#status_message Initializing configuration

                .prev-code
                  .title
                    span Code Widget
                    p Paste the following HTML code into your website or give it a try using on #[a(href="https://jsfiddle.net/" target="_blank") JSFiddle]
                  .widget-code-wrap
                    .sample.shadow-z-2.prettyprint#widget_code
                      | {{ widget.widget_code }}
                    .codebox-actions
                      #[a(id="clipboard_copy" href="#" data-clipboard-target="#widget_code") Copy]
                      #[a(href="#") Email Instructions]
                      #[a(href="#", id="generate-output-code", ng-click='widget.generateOutputCode()') Regenerate Code]
