extends layout

block content
  script.

    //Copy to Clipboard
    var clipboard = new Clipboard('#clipboard_copy');
    clipboard.on('success', function(e) {
      console.info('Action:', e.action);
      console.info('Text:', e.text);
      console.info('Trigger:', e.trigger);
      e.clearSelection();
    });

    clipboard.on('error', function(e) {
      console.error('Action:', e.action);
      console.error('Trigger:', e.trigger);
    });

    var app = angular.module('voxboneApp', [])
      .controller('WidgetController', ['$scope', '$http', '$window', function($scope, $http, $window){
    }]);

    var callTimer;
    var username = 'webrtcventurestest';
    var secret = 'T#st123!';
    var number = '13072787231'; //16092975366

    var eventHandlers = {
        'progress':   function(e){
        $("#status_message").innerHTML="<p>Calling " + $('#number').value+"</p>";
        },
        'failed':     function(e){
        $("#status_message").innerHTML="<p>Failed to connect: "+ e.data.cause +"</p>";
        },
        'started':    function(e){
        $("#status_message").innerHTML="<p>Call started</p>";
        },
        'ended':      function(e){
        $("#status_message").innerHTML="<p>Call ended</p>";
      }
    }

    function makeCall(){
      window.clearTimeout(callTimer);
      voxbone.WebRTC.call(number);
      window.onbeforeunload=function(e){
        voxbone.WebRTC.rtcSession.terminate();
      }
    }

    function launch(){
      voxbone.WebRTC.authServerURL = "https://webrtc.voxbone.com/rest/authentication/createToken";
      voxbone.WebRTC.customEventHandler = eventHandlers;

      var voxrtc_config = createKey();
      voxbone.WebRTC.init(voxrtc_config);

      callTimer = window.setInterval(function(){makeCall()},1000);
    }

  .main.createButton
    .header
      .container
        .row
          .col-xs-12
            h1 Create a WebRTC Call Button
            p #[b Note:] this will create a code widget that can be embedded into any page that allows for JS code and will allow customers to video call without installing any software.
    .body(ng-controller="WidgetController")
      .container
        .row
          .col-sm-6.left-col
            section
              span.title Button Configuration
              form
                .boxPanel
                  .form-group
                    label Button Label:
                    input.form-control(type="text", name="user", ng-model="buttonText" value="Call Sales" placeholder="i.e. Call Sales")
                  .form-group
                    label Button Style:
                    button.btn-style-a #[span {{buttonText || 'Call Sales'}}]
                    button.btn-style-b #[span {{buttonText || 'Call Sales'}}]

            section
              span.title Call Configuration
              form
                .boxPanel
                  .form-group
                    label.control-label SIP URI #[span.badge ?]
                    input.form-control(type="text", name="user", ng-model="sipUri" value="SIP: echotest@voxout.voxbone.com" placeholder="i.e. SIP: echotest@voxout.voxbone.com")
                  .panel.panel-default
                    .panel-heading
                      a.collapsed.title-toggle(data-toggle="collapse",data-target="#collapseAdvancedCallConfiguration",href="#collapseAdvancedCallConfiguration") Advanced Call Configuration
                    .panel-collapse.collapse#collapseAdvancedCallConfiguration
                      .options-wrap.active
                        .form-group
                          label(for="btn-context") Caller ID #[span.badge ?]
                          input.form-control(type="text", name="callerId", ng-model="callerId" value="voxrtc_demo" placeholder="i.e. voxrtc_demo")
                        .form-group
                          label(for="btn-context") Context #[span.badge ?]
                          input.form-control(type="text", name="context", ng-model="context")
                        .form-group
                          label(for="btn-context") DTMF Dial Pad #[span.badge ?]
                          input(type="checkbox", name="dtmf_dial_pad" checked)
                        .form-group
                          label(for="btn-context") Send Digits #[span.badge ?]
                          input.form-control(type="text", name="digits", ng-model="digits")
                  .panel.panel-default
                    .panel-heading
                      a.collapsed.title-toggle(data-toggle="collapse",data-target="#collapseIncompatileBrowserConfiguration",href="#collapseIncompatileBrowserConfiguration") Incompatible Browser Configuration
                    .panel-collapse.collapse#collapseIncompatileBrowserConfiguration
                      .options-wrap.active
                        .form-group
                          label.control-label Hide the widget #[span.badge ?]
                          input.form-control(type='checkbox', name='hide_widget')
                        .form-group
                          label.control-label Link button to a page #[span.badge ?]
                          input.form-control(type='checkbox', name='chk_link_button_to_a_page', ng-model="linkButtonToAPage")
                          input.form-control(type="text", name="link_button_to_a_page_value", placeholder="Enter url",
                          ng-show="linkButtonToAPage")
                        .form-group
                          label.control-label Show text/HTML #[span.badge ?]
                          input.form-control(type='checkbox', name='chk_show_text_html', ng-model="showTextHtml")
                          input.form-control(type="text", name="show_text_html_value", placeholder="Enter text or HTML", ng-show="showTextHtml")

          .col-sm-6.right-col
            .section
              span.title Preview
              .boxPanel.preview
                .prev-view.light
                  .widget-box.style-b
                    button.btn-style.mdi-communication-call#launch_call #[span {{buttonText || 'Call Sales'}}]
                    //- button.btn.btn-raised.btn-material-red.mdi-communication-call-end#hangup_call #[span 'End Call']
                    .widget-footer
                      a(href="#") powered by:
                  .togle-bg
                    a.dark(href="javascript:void(0)")
                    a.grey(href="javascript:void(0)")
                    a.light(href="javascript:void(0)")

                  //- p#status_message Initializing configuration

                .prev-code
                  .title
                    span Code Widget
                    p Paste the following HTML code into your website or give it a try using on #[a(href="#") JSFiddle]
                  .widget-code-wrap
                    - var button_code = "<div class='voxButton' id='voxButton_e83be0ab55e2xgq06856de44b5f90ff2e ' href='https://webrtc.voxbone.com/widget/ e83be0ab55e2xgq06856de44b5f90ff2e'; onclick='initCall(voxButton_e83be0ab55e2xgq06856de44b5f90ff2e)' hidden='hidden'></div><script src='https://webrtc.voxbone.com/js/jssip-0.4.0.js'> </script><script src='https://webrtc.voxbone.com/js/voxbone-0.0.3.js'> </script>"
                    pre.sample.shadow-z-2.prettyprint#widget_code
                      | #{button_code}
                    .codebox-actions
                      #[a(id="clipboard_copy" href="#" data-clipboard-target="#widget_code") Copy]
                      #[a(href="#") Email Instructions]
                      #[a(href="#") Regenerate Code]
  script(src="javascripts/main.js",type="application/javascript")
