.no-bottom-border-radius{
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.progress.passwordStrength {
    -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

/* adding this to prevent showing hidden tags while requirejs does its work*/
[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}