/* ================================================
Google Web Fonts
================================================ */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i';
@import 'https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,400i,700,700i';
/* ================================================
Plugin Css
================================================ */
/* Bootstrap */
@import "less_ui/plugins/bootstrap-flex.css";
/* ================================================
Main Css
================================================ */
/* Main Css Codes */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
html,
body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.container {
  width: 100%;
}
.site-wrapper {
  background-color: #207fbf;
}
.site-wrapper-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 50px;
}
/* Modules */
.navbar-inverse {
  background: rgba(64, 62, 57, 0.7);
  border-bottom: 1px solid #080808;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
  font-size: 18px;
  line-height: 56px;
  text-decoration: none;
  font-weight: normal;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #15a9c7;
}
.navbar-inverse .navbar-nav > li.active a {
  color: #15a9c7;
}
.navbar-toggler {
  margin-top: 15px;
  color: #ffffff;
  border: 1px solid #333333;
}
.navbar-toggler:hover {
  background: rgba(64, 62, 57, 0.7);
}
.contact {
  background: #78746B;
  color: #ffffff;
}
.padding-contact {
  padding: 100px 0;
  font-family: 'Lato', sans-serif;
}
.padding-contact h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding: 20px 0px 20px 0px;
  text-transform: uppercase;
}
.padding-contact address {
  font-size: 1.067em;
  line-height: 24px;
  font-weight: normal;
}
.padding-contact address span {
  display: block;
  margin-top: 10px;
}
.padding-contact .links {
  margin: 0;
  padding: 0;
}
.padding-contact .links li {
  display: block;
  text-align: left;
  line-height: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.padding-contact .links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
}
.padding-contact .links li a:hover {
  color: #15a9c7;
}
.padding-contact .newsletter form {
  max-width: 190px;
}
.padding-contact .newsletter form .btn {
  width: 100%;
}
.padding-contact .newsletter label {
  margin: 0;
  font-weight: normal;
}
.footer {
  padding: 0px 20px 50px 20px;
}
.footer p {
  font-size: 0.933em;
  text-align: center;
  font-weight: normal;
}
.footer p a {
  color: #ffffff;
  text-decoration: none;
}
.footer p a:hover {
  color: #15a9c7;
}
.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default:hover {
  background: #cccccc;
}
.btn-default-custom {
  align-content: center;
  color: #ffffff;
  font-size: 25px;
  background-color: #207fbf;
  border: none;
  font-weight: 300;
}
.btn-default-custom:hover {
  background-color: #1c70a9;
  color: #fff;
}
.btn-info {
  background-color: #249be7;
  border-color: #249be7;
  color: #ffffff;
}
.btn-info:hover {
  background-color: #188eda;
}
.btn-purple {
  background-color: #791e75;
  border-color: #791e75;
  color: #ffffff;
}
.btn-purple:hover {
  background-color: #6b1a67;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-dialog {
  max-width: 100%;
  width: 800px;
  margin: 0 20px;
}
.modal .modal-content {
  border-radius: 0;
  padding: 5px 20px;
}
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding-left: 0;
  padding-right: 0;
}
.modal .modal-title {
  font-size: 2.333em;
  font-weight: 300;
  line-height: 1;
}
/* App Sections */
.register-content {
  background-color: rgba(64, 62, 57, 0.7);
  color: #fff;
  margin-bottom: 0;
  font-weight: 100;
  padding: 20px 25px;
}
.register-content .reg-header {
  text-align: center;
}
.register-content .reg-header h4 {
  font-size: 2.333em;
  font-weight: 300;
}
.register-content .reg-header strong {
  font-weight: 700;
}
.register-content .reg-header span,
.register-content .reg-header strong {
  display: inline;
  font-size: 0.933em;
}
.register-content a {
  color: #fff;
}
.register-content a:hover {
  color: #15a9c7;
}
.register-content form {
  margin-top: 30px;
}
.register-content form label {
  margin-bottom: 2px;
}
.register-content form .btn {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.home-wrap {
  background: url(../images/the-workshop-bgctc7.jpg) no-repeat right center fixed;
  background-size: cover;
}
.touch {
  text-align: left;
  background-color: rgba(64, 62, 57, 0.7);
  color: #ffffff;
  font-weight: 100;
  padding: 20px 25px;
}
.touch .header .large {
  font-size: 2.333em;
}
.touch .header a {
  color: #ffffff;
  text-decoration: underline;
}
.touch .add-btn {
  width: 230px;
  margin: 20px 10px;
}
.touch hr {
  border-color: #ffffff;
}
.touch .toggle-extra a {
  color: #ffffff;
}
.touch .toggle-extra #flip {
  padding-right: 30px;
  background-image: url(../images/downarrow.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 15px 10px;
}
.touch .toggle-content {
  display: none;
  margin-top: 40px;
}
.touch .toggle-content .row {
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.touch .toggle-content .row a {
  color: #ffffff;
  display: block;
}
.touch .toggle-content .row a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.touch .toggle-content .row .btn {
  width: 130px;
  height: 38px;
}
.touch .toggle-content .tc-header span {
  font-weight: 400;
}
.touch .toggle-content .tc-header .divider {
  margin-top: 2px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.banner-content h1 {
  background: rgba(64, 62, 57, 0.7);
  font-size: 2.333em;
  color: #ffffff;
  margin: 0 100px 0 0;
  padding: 20px 25px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.4;
}
.banner-content h2,
.banner-content p {
  font-size: 1.8em;
  font-family: 'Lato', sans-serif;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 25px;
  font-weight: normal;
  margin: 0;
  line-height: 1.4;
}
.banner-content p {
  font-size: 1.2em;
}
.home-setup {
  padding: 115px;
  background: #ffffff;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.home-setup h3 {
  padding: 25px 0;
  font-size: 38px;
  font-weight: 800;
  color: #787878;
}
.home-setup h3 span {
  color: #207fbf;
}
.home-setup .setup-inside-block {
  display: block;
  border: 1px solid #ffffff;
  padding: 20px;
  float: left;
  width: 100%;
  min-height: 100%;
}
.home-setup .setup-grid {
  background: #1b8dc3;
  padding: 50px 0;
}
.home-setup h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 100;
  padding: 20px 25px;
  text-transform: uppercase;
  color: #ffffff;
}
.home-setup p {
  color: #ffffff;
  padding: 5px 25px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
}
.edit-sip .modal-body .form-group label {
  margin-bottom: 5px;
}
.edit-sip .modal-footer {
  border: none;
  text-align: center;
  padding-top: 0;
}
.edit-sip .modal-footer .btn {
  width: 100%;
  max-width: 230px;
  margin: 0 10px 20px;
}
/* Widget Style */
/* Responsive Style */
