.modal#deleteWidgetModal(tabindex="-1" role="dialog" aria-labelledby="deleteWidgetLabel" ng-controller="DeleteWidgetController")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true")&times;
        h4.modal-title#deleteWidgetLabel
          i.glyphicon.glyphicon-edit
          span  Delete this button?
      .modal-body
        .formWrap
          p Are you sure you would like to delete this button? You will not be able to undo this operation!
          .alert.alert-success(ng-bind="successMessage" ng-show="successMessage")
          .error-label
            div(ng-bind="errorMessage" ng-show="errorMessage")

      .modal-footer
        button.btn.btn-danger(ng-bind="confirmText" ng-disabled="submitting" ng-click="deleteWidget()")
        button.btn.btn-success(data-dismiss="modal") Cancel
