extends ../layout

block extra_head
  link(href="/stylesheets/vxb-widget.css" rel="stylesheet")
  link(href="/lib/angular-bootstrap-colorpicker/css/colorpicker.min.css" rel="stylesheet")

block content
  script.
    require([
      'angular',
      'angular-sanitize',
      'angular-bootstrap-colorpicker',
      'jquery',
      'controllers/widget.edit',
      'directives/qtip',
      'directives/http.prefix'
    ],
    function(
      angular, ngSanitize, colorPicker, $,
      WidgetEditController, qtipDirective,
      httpPrefixDirective) {

        angular.module('voxboneApp', ['ngSanitize','colorpicker.module'])
          .directive('qtip', qtipDirective)
          .directive('httpPrefix', httpPrefixDirective)
          .controller('EditWidgetController', WidgetEditController);

        angular.bootstrap(document, ['voxboneApp']);

        require(['#{process.env.APP_URL}/click2vox.js']);
    });

  .container
    .row
      .col-sm-12.col-md-12.col-xl-10.offset-xl-1

        .panel-content.button-page

          .panel-header
            h4 Edit a WebRTC Click-to-Call Button
            span
              a(href="#") See our Frequently Asked Questions document.
            hr

          .panel-body
            .row
              .col-sm-12.col-lg-6
                .form-group
                  label(for="config-name") Configuration Name
                  input.form-control#config-name(placeholder="i.e. Sales Button" type="text")

                  span.form-header Button Configuration
                    .form-group
                      label(for="config-label") Button Label
                      input.form-control#config-name(placeholder="i.e. Call Sales" type="text")


                    .form-group.inline-btn
                      label Button Style
                      button(type="submit" class="btn btn-lg btn-info") Click-to-call
                      button(type="submit" class="btn btn-lg btn-purple") Click-to-call

                  span.form-header Call Configuration
                    .form-group
                      label(for="config-label") SIP URI #[i.fa.fa-question-circle.tooltip-action.ta-white(aria-hidden="true")]

                      select.form-control
                        option Select a SIP URI
                        option Option
                        option Option
                        option Option

                      .expand-block.open-block
                        span.head Advanced Call Configuration

                        .form-group
                          label(for="") Caller Id #[i.fa.fa-question-circle.tooltip-action(aria-hidden="true")]
                          input.form-control(id="" placeholder="i.e. ClickVox_Demo" type="text")

                        .form-group
                          label(for="") Context #[i.fa.fa-question-circle.tooltip-action( aria-hidden="true")]
                          input.form-control(id="" type="text")

                        .form-group
                          label(for="check01") #[input(type="checkbox" id="check01")] DTMF Dial Pad #[i.fa.fa-question-circle.tooltip-action(aria-hidden="true")]

                        .form-group
                          label(for="") Send Digits #[i.fa.fa-question-circle.tooltip-action( aria-hidden="true")]
                          input.form-control(id="" type="text")

                      .expand-block.open-block
                        span.head Incompatible Browser Configuration
                        .form-group
                          label(for="radio01") #[input(type="radio" id="radio01")] Hide the Widget #[i.fa.fa-question-circle.tooltip-action(aria-hidden="true")]
                        .form-group
                          label(for="radio02") #[input(type="radio" id="radio02")] Link button to a page #[i.fa.fa-question-circle.tooltip-action( aria-hidden="true")]
                        .form-group
                          label(for="radio03") #[input(type="radio" id="radio03")] Show text-HTML #[i.fa.fa-question-circle.tooltip-action(aria-hidden="true")]

              .col-sm-12.col-lg-6
                |right

