extends ../layout

block extra_head
  script.
    require([
      'angular',
      'jquery',
      'controllers/sip.add',
      'directives/autofocus',
      'directives/check.allowed.sip'
    ],
    function (
      angular, $,
      AddSIPController,
      autoFocus,
      checkAllowedSip) {

      angular.module('voxboneApp', [])
        .directive('autoFocus', autoFocus)
        .directive('checkAllowedSip', checkAllowedSip)
        .controller('AddSIPController', AddSIPController);

      angular.bootstrap(document, ['voxboneApp']);
    });

block content
    .header
      .main.createButton.addSip(class=currentUser.showWizard() ? 'wizard' : '')
    .body(ng-controller='AddSIPController' ng-init="init()")
      .site-wrapper-inner.home-wrap
        .container
            .row
              .col-sm-12.col-md-10.col-lg-8

                .panel-content

                  .panel-header
                    h1.panel-title Add a new SIP address
                    span Enter the SIP URI you would like to use for your button. Your free account allows you to use one SIP URI at a time but you can request for an upgrade. Don't have a SIP URI? You can skip this for now.
                    hr

                    .row.first-step
                      if currentUser.showWizard()
                        .sip-steps
                          .step.active
                            span Add your SIP URI
                          .step.right
                            span Add WebRTC Call Button


                  .panel-body.add-sip
                    form(name="sip_form" novalidate)
                      .form-group
                        label SIP URI &nbsp;
                          span.badge(data-toggle='tooltip' data-placement="top right" title="This is the SIP address where inbound traffic from your Click2Vox button will be directed. Enter any valid SIP URI.") ?
                        input.form-control(type="text" name="sip_uri", ng-model="sip.uri" ng-pattern="/^[^@]+@[^@]+$/" check-allowed-sip auto-focus required placeholder="i.e. sip@domain.com")
                        div(style='color: green')
                          div.ng-cloak(ng-show="onSubmitting") {{successMessage}}

                        .error-label
                          div.ng-cloak(ng-show="sip_form.sip_uri.$error.notallowed") SIP URI not allowed
                          div.ng-cloak(ng-show="errorMessage") {{errorMessage}}

                      .form-group.button-wrap(ng-cloak)
                        button.btn.btn-default-custom.save-sip(ng-disabled="sip_form.$invalid || onSubmitting" ng-click="saveSipURI(sip_form)" data-loading-text="Loading..." name="submitBtn") {{submitText}}
                        button.btn.btn-default-custom.skip-sip(ng-click=`skipURI('${process.env.APP_URL}/widget/new')`
                        name="submitBtn") {{skipText}}
